@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "roobert-regular";
  src: url("../assets/fonts/Roobert-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "roobert-medium";
  src: url("../assets/fonts/Roobert-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "roobert-semibold";
  src: url("../assets/fonts/Roobert-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "roxborough-regular";
  src: url("../assets/fonts/RoxboroughCF-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "roxborough-semibold";
  src: url("../assets/fonts/RoxboroughCF-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "roxborough-semibolditalic";
  src: url("../assets/fonts/RoxboroughCF-SemiBoldItalic.otf");
  font-weight: 600;
}
